/*
a31621 // Red
4e8098
90c2e7
ced3dc
fcf7f8
https://coolors.co/a31621-fcf7f8-ced3dc-4e8098-90c2e7

https://coolors.co/d2ab99-bdbea9-8db38b-56876d-04724d // Greens

https://coolors.co/b3001b-262626-255c99-7ea3cc-ccad8f // Blue and Black

https://coolors.co/e7ecef-274c77-6096ba-a3cef1-8b8c89 // Blue and gray, promising!

https://coolors.co/222222-ffffff-1c5d99-639fab-bbcde5 // Black white and sharp blue
*/
